html {
    min-height: 100%;
    position: relative;    
}
body {
    font-size: 100%;
    background-color: white
}
body .home {
    background: url('/background_image_beer.jpg') no-repeat center fixed;
    background-size: cover
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1, h2, h3 {
    font-family: 'Courier New', Courier, monospace
}
h4, h5, h6 {
    font-family: "Lucida Console", Monaco, monospace
}
.jumbotron {
    background-color: rgba(230, 138, 0, 0.9);
    color: white
}
.navbar .nav-link a, .nav-item {
    color: rgb(230, 138, 0)
}
.card {
    border-color: rgba(230, 138, 0, 0.9);
}
.btn {
    color: white;
    border: 1px solid white;
    background-color: rgb(230, 138, 0)
}
.btn:hover {
    background-color: white;
    color: rgb(230, 138, 0)
}
.maindiv {
    max-width: 35rem;
    margin: 5px auto 20px;
    text-align: center;
    padding: 1rem;
}
.formstyle {
    max-width: 25rem;
    margin: auto;
    padding: 1rem
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
img {
    image-orientation: from-image
}