html {
    min-height: 100%;
    position: relative;    
}
body {
    font-size: 100%;
}
body .home {
    background: url('/background_image_beer.jpg') no-repeat center fixed;
    background-size: cover
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
h1, h2, h3, h4, h5 {
    font-family: 'Courier New', Courier, monospace
}
.jumbotron {
    background-color: rgba(230, 138, 0, 0.9);
    color: white
}
.navbar .nav-link a, .nav-item {
    color: rgb(230, 138, 0)
}
.card {
    border-color: rgba(230, 138, 0, 0.9);
}
.btn {
    color: white;
    border: 1px solid white;
    background-color: rgb(230, 138, 0)
}
.btn:hover {
    background-color: white;
    color: rgb(230, 138, 0)
}
.maindiv {
    max-width: 35rem;
    margin: 0 auto 20px;
    text-align: center
}